:root {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

  --primary: #140638;
  --secondary: #09008a;
  --terceary: #000786;
}

body{
  background-color: rgb(5, 5, 39);  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
